<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- link bootrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet prefetch" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

    <link rel="stylesheet" href="../src/css/ctsp.css">
    <link rel="stylesheet" href="../src/css/main.css">

</head>


<body>


    <div class="pd-wrap">
        <header>
            <div class="row header-inner align-items-center">
                <div class="col-1 header-innerLogo ">
                    <img class="float-start" src="../public/imgs/Logo4duck.png" alt="Logo4duck">
                </div>
                <div class="col-8 offset-1 header-innerSeach nopadding">
                    <input class="header-innerSeach-input" type="text" placeholder="Sản phẩm bạn cần tìm......">
                    <button class="header-innerSeach-button">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <div class="col-1 offset-1 header-innerCart">
                    logo cart
                </div>
            </div>
            <div>
              
            </div>
        </header>
        <div class="container">
            <div class="heading-section">
                <h2></h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col">
                        <div class="item">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQI6nUmObt62eDkqNSmIvCN_KkQExtbpJmUbVx_eTh_Y3v3r-Jw"
                                alt="..." id="MainImg" width="100%">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <div class="product-dtl">
                        <div class="product-info">
                            <div class="product-name">QKCASE - Loa Bluetooth Mini - Loa Trứng Nhấp Nháy (Loa Blt)
                            </div>
                            <div class="reviews-counter">

                                <span>| Đánh Giá |</span>
                                <span> 1,3k Đã Bán </span>
                            </div>
                            <div class="product-price-discount text-danger"><span><u>đ</u> 18.000 - <u>đ</u>
                                    39.000</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p>Deal Sốc</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="btn bg-danger text-white">Mua kèm deal sốc</p>
                            </div>
                            <div class="col-sm-3">
                                <p>Số lượng</p>
                            </div>
                            <div class="col-sm-9 pt-2">
                                <span class="border border-dark bg-dark px-2"
                                    style=" color:#ffffff;max-width: 1.8rem; max-height: 0.5rem; font-size: 1.4rem;">+</span>
                                <input class="border border-dark px-2" type="text" name="quantity" value="1"
                                    style="line-height: 0.5rem ; max-width:2.2rem;text-align: center; font-size:1.4rem;">
                                <span class="border border-dark  bg-dark px-2"
                                    style=" color:#ffffff;max-width:1.8rem; max-height: 0.5rem; font-size: 1.4rem;">-</span>
                            </div>                         
                            <p class="" style="margin-top: 5px;">
                                <button type="button" class="btn btn-outline-danger btn-lg"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-cart" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>Thêm vào giỏ hàng</button>
                                <a href="#" class="bg-danger btn btn-outline-danger btn-lg active ">Mua ngay</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info-tabs">
                <div class="row">
                    <div class="col-md-12 bg-light " style="margin-top:2rem ;">
                        <div class="row">
                            <div class="col-12 bg-light my-2">

                                <div class="row align-items-center">
                                    <div class="col-md-6 my-2 d-flex flex-row align-items-center">

                                        <img src="https://caodangbachkhoa.com.vn/wp-content/uploads/2019/08/hoc-nganh-cong-nghe-ky-thuat-dien-dien-tu-can-to-chat-gi.jpg"
                                            class="rounded-circle" alt="round Terre" width="90rem" height="90rem">

                                        <div class="ml-2">
                                            <h5 class="col">Shop diên tử</h5>
                                            <span class="border border-dark px-2 py-2 mx-3"
                                                style="max-width: 3rem; max-height: 0.5rem; font-size: 1.2rem;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-shop-window" viewBox="0 0 16 16">
                                                    <path
                                                        d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h12V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zm2 .5a.5.5 0 0 1 .5.5V13h8V9.5a.5.5 0 0 1 1 0V13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.5a.5.5 0 0 1 .5-.5z" />
                                                </svg><a href="" style="color:#5c5050">Cửa hàng</a> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 my-2 l-0 bg-light">
                        <div class="bg-light">
                            <div>CHI TIẾT SẢN PHẨM </div>
                        </div>
                        <div class="Ezi7D0" style="margin: 1.875rem 0.9375rem 0.9375rem;">
                            <div class="vymrqq" style=" display: flex;margin-bottom: 1.125rem;">
                                <label class="ZgeHl-">danh mục</label>
                                <div class="flex items-center y7IkgP">
                                    <a class="_4Zf0hw bi-phone-flipkozQ" href="">Shop</a>
                                    <svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0"
                                        class="shopee-svg-icon _2o3dIs icon-arrow-right">
                                        <path
                                            d="m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z">
                                        </path>
                                    </svg>
                                    <a href="">Nhà cữa & đời sống</3a>
                                        <svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0"
                                            class="shopee-svg-icon _2o3dIs icon-arrow-right">
                                            <path
                                                d="m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z">
                                            </path>
                                        </svg>
                                        <a href="#">Sắp xếp nhà cữa</a>
                                        <svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0"
                                            class="shopee-svg-icon _2o3dIs icon-arrow-right">
                                            <path
                                                d="m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z">
                                            </path>
                                        </svg>
                                        <a href="">Hộp lưu trữ</a>
                                </div>

                            </div>
                            <div class="vymrqq" style=" display: flex;margin-bottom: 1.125rem;">
                                <label class="ZgeHl-">danh mục</label>
                                <div class="flex items-center y7IkgP">
                                    <a class="_4Zf0hw bi-phone-flipkozQ" href="">Shop</a>
                                    <svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0"
                                        class="shopee-svg-icon _2o3dIs icon-arrow-right">
                                        <path
                                            d="m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z">
                                        </path>
                                    </svg>
                                    <a href="">Nhà cữa & đời sống</3a>
                                        <svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0"
                                            class="shopee-svg-icon _2o3dIs icon-arrow-right">
                                            <path
                                                d="m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z">
                                            </path>
                                        </svg>
                                        <a href="#">Sắp xếp nhà cữa</a>
                                        <svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0"
                                            class="shopee-svg-icon _2o3dIs icon-arrow-right">
                                            <path
                                                d="m2.5 11c .1 0 .2 0 .3-.1l6-5c .1-.1.2-.3.2-.4s-.1-.3-.2-.4l-6-5c-.2-.2-.5-.1-.7.1s-.1.5.1.7l5.5 4.6-5.5 4.6c-.2.2-.2.5-.1.7.1.1.3.2.4.2z">
                                            </path>
                                        </svg>
                                        <a href="">Hộp lưu trữ</a>
                                </div>
                            </div>
                            <div class="vymrqq" style=" display: flex;margin-bottom: 1.125rem;">
                                <label class="ZgeHl-">Thương hiệu </label>
                                <div class="flex items-center y7IkgP">
                                    <p>ACSCO</p>

                                </div>

                            </div>
                        </div>
                        <div class="bg-light">
                            <div>MÔ TẢ SẢN PHẨM</div>
                            <div class="Ezi7D0">
                                <div class="sJarux">
                                    <p class="NSVAH-">
                                        Ngăn kéo mini này của STACKO CUBE có chất liệu nhựa cao cấp cho độ bền đáng tin
                                        cậy.
                                        Với nhiều ngăn kéo, công cụ lưu trữ này giúp bạn giữ nhà cửa ngăn nắp và tiết
                                        kiệm
                                        không gian hơn.
                                        Các ngăn kéo có thể xếp chồng lên nhau, đảm bảo tính di động và sắp xếp căn
                                        phòng
                                        của bạn tốt hơn.

                                        - Được làm bằng nhựa chất lượng nên độ bền rất cao
                                        - Có thể xếp chồng lên nhau để thêm không gian lưu trữ
                                        - Cho phép bạn lưu trữ và sắp xếp các vật dụng cá nhân của mình
                                        - Dễ dàng đặt trên mặt bàn hoặc trong tủ
                                        - Dùng để lưu trữ các vật dụng trong nhà
                                        - Không cất giữ các đồ vật / vật dụng quá nặng
                                        - Không ném vì va đập quá mạnh có thể gây hư hỏng sản phẩm
                                        - Tránh xa tất cả các nguồn nhiệt và lửa.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 bg-light my-2">
                        <ul>
                            <li class="border-bottom ">
                                <div class="col-12 bg-light my-2">
                                    <div class="row align-items-center">
                                        <div class="col-md-6 my-2 d-flex flex-row align-items-center">
                                            <img src="https://caodangbachkhoa.com.vn/wp-content/uploads/2019/08/hoc-nganh-cong-nghe-ky-thuat-dien-dien-tu-can-to-chat-gi.jpg"
                                                class="rounded-circle" alt="round Terre" width="90rem" height="90rem">
                                            <h5 class="col">Shop diên tử</h5>
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="input-group">
                                                <input tpe="text" class="form-control " placeholder="Bình Luận"
                                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                <div class="input-group-append ">
                                                    <span class="input-group-text" id="basic-addon2"
                                                        style="background-color: #F94E2F; color: #ffffff;">Bình
                                                        luận</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="border-bottom ">
                                <div class="col-12 bg-light my-2">
                                    <div class="row align-items-center">
                                        <div class="col-md-6 my-2 d-flex flex-row align-items-center">
                                            <img src="https://caodangbachkhoa.com.vn/wp-content/uploads/2019/08/hoc-nganh-cong-nghe-ky-thuat-dien-dien-tu-can-to-chat-gi.jpg"
                                                class="rounded-circle" alt="round Terre" width="90rem" height="90rem">
                                            <h5 class="col">Shop diên tử</h5>
                                        </div>
                                        <div class="col-md-7 ">
                                            <p>Chất lượng sản phẩm: <i>ok</i></p>
                                            <p>tính năng nỗi bậc: <i>ok</i></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
    </div>








    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>