html{
    font-size: 80%;
}

.margin {
    margin-top: 50px;
    margin-bottom: 40px;
}

.banner {
    height: 303px;

}

/* .banner-big-banner {
    padding-right: 4px !important;
} */

.banner-big-banner img {
    width: 100%;
    object-fit: cover;
}

.banner-small-banner {
    height: 100%;

}

.banner-small-banner img {
    width: 100%;
}

.custom-padding-right-banner {
    padding-right: 3px !important;
}

.custom-padding-left-banner {
    padding-left: 3px !important;
}

.text-color-cartegory {
    color: #757575;
}




.boder-test {
    border: 1px solid red;
}

.custom-row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.custom-margin-category {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 96px;
    height: 120px;
}

.cartegory-items {
    border: 1px solid rgb(246, 238, 238);
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 130px;
    transition: 0.5s all;
}

.cartegory-items:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.cartegory-items img {
    width: 75px;
    height: 75px;
}

.cartegory-items p {
    margin-bottom: 0;
    font-size: 16px;
}

/* carousel */
.boder-carousel {
    background-color: #fff;
    padding: 12px;
}

.item a {
    text-decoration: none;
}

.carousel-item-child {
    position: relative;
    width: 100%;
    /* height: 100%; */
}

.carousel-item-child .carousel-sale {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

/* carousel sale off */
.home__product-items-saleoff {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 10;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.95);
}

.home__product-items-saleoff-percent {
    color: #EE4D2D;
    font-weight: 300;
    font-size: 1.2rem;

}

.home__product-items-saleoff-label {
    color: #fff;
}

.home__product-items-saleoff-label::before {
    content: "";
    position: absolute;
    border-width: 0 20px 6px;
    border-style: solid;
    bottom: -6px;
    left: 0;
    border-color: transparent rgba(255, 216, 64, 0.95) transparent rgba(255, 216, 64, 0.95);
}

.carousel-item-title {
    font-size: 1.75rem;
    font-weight: 300;
    color: #EE4D2D;
    overflow: hidden;
}

.has-sale {
    padding: 0 12px;
}

.has-sale-task {
    height: 16px;
    background: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/flashsale/ac7f81d9ee062223753413ec98497a86.png");
    background-size: cover;
    position: relative;
    border-radius: 8px;
}

.has-sale-title {
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    z-index: 2;
    text-align: center;
}

/*  */
/* banner-off-sale */
.banner-off-sale {
    height: 150px;
}

.banner-off-sale img {
    width: 100%;
    height: 100%;
}

/* top-sale */
.top-sale-carousel-item a {
    text-decoration: none;
}

.top-sale-child {
    position: relative;
}

.top-sale-child-content {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 100%;
    /* Full width */
}

.top-sale-child-content p {
    margin-bottom: 0;
}

.top-sale-content {
    font-size: 2rem;
    font-weight: 500;
    color: #555;
    position: relative;
}

/* top-sale-of */
.sugges {}

.home__product-items-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.95);
}

.home__product-items-top-percent {
    color: #EE4D2D;
    font-weight: 700;
    font-size: 1.2rem;

}

.home__product-items-top-label {
    color: #fff;
}

.home__product-items-top-label::before {
    content: "";
    position: absolute;
    border-width: 0 20px 6px;
    border-style: solid;
    bottom: -6px;
    left: 0;
    border-color: transparent rgba(255, 216, 64, 0.95) transparent rgba(255, 216, 64, 0.95);
}


/* TODAY */
.container {
    padding: 0px !important;
    padding-right: 0px !important;
}

.today-product-items {
    position: relative;

}

.top-layout-boder {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.3s all;
    cursor: pointer;
}

.top-layout-boder:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.today-product-items a {
    text-decoration: none;
}

.today-product-items {}

.today-item-child {
    position: relative;
    width: 100%;
    height: 100%;
}

.today-item-child .today-sale {
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.today-sale img {
    width: 100%;

}

.today-item-product img {
    width: 100%;

}

.today-item-content {
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 36px; 
    margin: 10px 10px 6px ;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.today-item-price .price {
    color: #ee4d2d;
}

.today-item-price .price .price-money {
    font-size: 1.5rem;
}

.today-item-price .have-sale {
    color: rgba(0, 0, 0, .54);
    font-size: 1.2rem;
}

.home__product-items--favourite {
    position: absolute;
    top: 10px;
    left: 9px;
    color: #EE4D2D;
    background-color: currentColor;
    background-color: #EE4D2D;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-right: 4px;
    z-index: 20;
}

.home__product-items--favourite::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -4px;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    filter: brightness(60%);

}

.home__product-items--favourite span {
    color: #fff;
}

.home__product-items--favourite i {
    font-size: .9rem;
    margin: 0 2px 0 5px;
    color: #fff;
}
/* set max height  */
.max-height {
    min-height: 173.325px;
    max-height: 173.325px;
}
/* lam lai */
.top-sale-items {
    border: 1px solid rebeccapurple;
}

.more {
    width: 100%;
    margin-top: 1.25rem;
    text-align: center;
}

.more-href {
    min-width: 17.375rem;
    height: 3rem;
    font-size: 1.5rem;
    display: inline-block;

}
.display-none-discount {
    display: none;
}
/* responsive */
@media (max-width: 767.98px) {
    .banner-big-banner {
        padding-right: 15px !important;
    }

    .banner-small-banner {
        display: none;
    }
}

.a {
    padding: 50px;
}

@media (max-width: 991.98px) {
    .col-md-none-banner {
        display: none;
    }

    /* .owl-nav {
        display: none !important;
    } */

    .w-100 {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

  
}

.sale-product-title {
    width: 15%;
    margin-bottom: 20px;
}


/* custom OWLCAROUSEL */
.owl-nav button {
    position: absolute;
    top: 50%;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
    left: 0;
}

.owl-nav button.owl-next {
    right: 0;
}

/* .owl-dots {
    text-align: center;
    padding-top: 15px;
  }
  .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
  .owl-dots button.owl-dot.active {
    background-color: #000;
  }
  .owl-dots button.owl-dot:focus {
    outline: none;
  } */
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background: rgba(255, 255, 255, 0.38) !important; */
}

.owl-nav span {
    font-size: 70px;
    position: relative;
    top: -53px;
}

.owl-nav button:focus {
    outline: none;
}

/*  */
.option-today-custom-img {
    height: 165px;
    width: 165px;
    object-fit: cover;
}


/*  */
.flash-sale-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flash-sale-showall {
    font-size: 1.5rem;
    color: #ee4d2d;
}
.flash-sale-title a {
    color: #ee4d2d;
    text-decoration: none;
}